.hover-content {
  &.--hovered {
    color: red;
  }
}

.scroll-container {
  height: 100px;
  background-color: gray;
  overflow-y: auto;

  .scroll-zone {
    height: 500px;
  }
}

.use-mouse {

}

.use-router-hooks {
  margin-top: 10px;
}

.container-react-hanger {
  padding: 50px;
  .react-hanger {
    width: 20%;
    display: flex;
    flex-direction: column;
    .use-modal {
      h2 {
        font-size: 20px;
        margin: 15px 0;
      }
      .btn-modal {
        width: 150px;
      }
    }
    .use-number {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 20px;
        margin: 15px 0;
      }
      p {
        font-size: 16px;
        margin: 10px 0;
      }
      div {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-number {
          width: 50px;
        }
      }
      .value-use-number {
        height: 32px;
        width: 40px;
        border: 1px solid grey;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .use-input {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 20px;
        margin: 15px 0;
      }
    }
    .use-window-resize {
      h2 {
        font-size: 20px;
        margin: 15px 0;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

